.autoWidth {
    margin: auto;
    width: 1120px;
}

.home {
    .head-wrap {
        width: 100%;
        .head-top-wrap {
            background-color: #f1f1f1;
            .head-top {
                @extend .autoWidth;
                height: 35px;
                line-height: 2em;
            }
            .right {
                text-align: right;
            }
        }
        .head {
            height: 80px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            line-height: 3.5em;
        }
        .nav-wrap {
            @extend .autoWidth;
            text-align: center;
            .nav {
                li {
                    display: inline-block;
                    padding: 5px 20px;
                    cursor: pointer;
                }
            }
        }
    }
    .banner-wrap {
        width: 100%;
        height: 320px;
        background: url(/src/images/home/zinc.jpg) no-repeat;
        background-size: 100% 100%;
    }
    .card-wrap {
        @extend .autoWidth;
        padding: 20px 0;
    }
    :global .ant-card {
        display: inline-block;
        margin: 0 20px;
    }
}